.my-projects-page {
    font-family: Hack;
    margin-left: 2rem;
}

.my-pj-page-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.my-pj-section {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.my-pj-publish-btn {
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}

.my-pjs-empty {
    margin-top: 3rem;
}